/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff");
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff");
}

/* cormorant-garamond-regular - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cormorant-garamond-600 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-600.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cormorant-garamond-700 - latin */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/cormorant-garamond-v10-latin-700.woff2") format("woff2"), url("../fonts/cormorant-garamond-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #081073;
}

.app__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  width: 450px;
  height: 450px;
  border-radius: 5%;
  background-color: #60BDCE;
}

.app__title-container {
  margin: 0 0 10px;
}

.app__inner-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.app__inner-wrapper input[type="checkbox"] {
  display: none;
}

.app__inner-wrapper input[type="checkbox"] + label {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin: 10px 0 0;
  background-color: #1924B1;
  border-radius: 10px;
}

.app__inner-wrapper input[type="checkbox"] + label span, .app__inner-wrapper input[type="checkbox"] + label::after {
  color: #ffffff;
}

.app__inner-wrapper input[type="checkbox"] + label:hover {
  background-color: #7279D8;
}

.app__inner-wrapper input[type="checkbox"]:checked + label {
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: auto;
  height: auto;
  margin: 0;
  background-color: transparent;
}

.app__inner-wrapper input[type="checkbox"]:checked + label span {
  display: none;
}

.app__inner-wrapper input[type="checkbox"]:checked + label::after {
  content: "Cancel";
}

.app__inner-wrapper input[type="checkbox"]:checked + label:hover::after {
  text-decoration: underline;
}

.app__inner-wrapper input[type="checkbox"]:checked ~ .app__tabs-container {
  display: none;
}

.app__inner-wrapper input[type="checkbox"]:checked ~ .app__add-new-to-do-form-container {
  display: block;
}

.app__add-new-to-do-form-container {
  display: none;
}
