.add-new-to-do-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 40px;
  border-radius: 10px;
  background-color: #7279D8;
}

.add-new-to-do-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 0 20px;
  padding: 15px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.add-new-to-do-form input[type="text"]:focus {
  outline: 0;
}

.add-new-to-do-form input[type="text"]:hover {
  border: 2px solid #4D57D8;
}

.add-new-to-do-form button[type="submit"] {
  width: 150px;
  height: 50px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  background-color: #081073;
  border: 0;
}

.add-new-to-do-form button[type="submit"]:hover {
  opacity: 0.7;
}

.add-new-to-do-form__radio-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 30px;
}

.add-new-to-do-form__radio-buttons-wrapper input[type="radio"] {
  display: none;
}

.add-new-to-do-form__radio-buttons-wrapper input[type="radio"] + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 0 15px 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
}

.add-new-to-do-form__radio-buttons-wrapper input[type="radio"] + label::before {
  content: "";
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  border: 2px solid #1924B1;
  border-radius: 50%;
}

.add-new-to-do-form__radio-buttons-wrapper input[type="radio"] + label:hover::before {
  border: 2px solid #37B6CE;
}

.add-new-to-do-form__radio-buttons-wrapper input[type="radio"]:checked + label::before {
  background-color: #1924B1;
}
